{% extends 'companies/base.html' %}
{% load static %}
{% block content %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-primary new p-3" data-toggle="modal" data-target="#modalCreateCompanie">Novo</a>
    </div>
    <div class="card card-dashboard">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
             <tbody>
                {% if page.object_list %}
                    {% for companie in page.object_list %}
                        <tr>
                          <td style="width: 55rem;">{{ companie.name }}</td>
                          {% if companie.active %}
                            <td><span class="badge text-bg-success">Ativo</span></td>
                          {% else %}
                            <td><span class="badge text-bg-secondary">Inativo</span></td>
                          {% endif %}
                          <td><a href="{% url 'details' companie.id %}" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
             </tbody>
          </table>
        </div>
      </div>
    </div>
   {% include 'companies/partials/_modal-create-companie.html' %}
   {% include 'partials/_paginator.html' %}
{% endblock %}