{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<h5 class="card-title text-center text-success-emphasis">Acesse o portal</h5>
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  {% for field in form.visible_fields %}
      <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
          <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{ field.label }}</label>
          {{ field }}
      </div>
  {% endfor %}
  <div class="d-grid gap-2 mx-auto">
    <button type="submit" class="btn btn-success mb-2">Entrar</button>
  </div>
</form>
<p class="card-text">Não esta cadastrado ? <a href="{% url 'signup' %}" class="link-secondary">Cadastre-se!</a></p>
{% endblock %}